@font-face {
    font-family: a dripping marker;
    src: url('adrip1.ttf');
}

@font-face {
    font-family: Magmawave Caps;
    src: url('MagmaWaveCaps.otf');
}

@font-face {
    font-family: Transformers Movie;
    src: url('TransformersMovie.ttf');
}

.background {
    -fx-background-color: #d8d8d8;
}

.label {
    -fx-font-size: 30pt;
    -fx-font-family: 'Magmawave Caps';
    -fx-text-fill: black;
    -fx-opacity: 1;
}

#lblTitle {
    -fx-font-size: 50pt;
    -fx-font-family: 'Transformers Movie';
    -fx-text-fill: black;
    -fx-opacity: 1;
}

#lblSizeUp {
    -fx-font-size: 40pt;
    -fx-font-family: 'Magmawave Caps';
    -fx-text-fill: black;
    -fx-opacity: 1;
}

#HelpInfo {
    -fx-font-size: 20pt;
    -fx-font-family: 'Magmawave Caps';
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.text-input {
    -fx-background-color: transparent;
    -fx-font-size: 36pt;
    -fx-font-family: 'Magmawave Caps';
    -fx-text-fill: black;
    -fx-border-color: #3e3e3e;
	-fx-border-radius: 3px;
}

.button{
    -fx-background-color: transparent;
    -fx-border-color: #3e3e3e;
	-fx-border-radius: 15px; 
    -fx-font-family: 'Magmawave Caps';
    -fx-font-size: 36pt;
    -fx-text-fill: black;
}

.button:hover {
    -fx-text-fill: #3e3e3e;
}

.list-view {
    -fx-background-color: black;
    -fx-font-family: 'Magmawave Caps';
    -fx-text-fill: black;
}

.list-cell {
	-fx-text-fill: black;
}

.combo-box-base {
    -fx-background-color: #c8c8c8;
    -fx-font-family: 'Magmawave Caps';
    -fx-font-size: 15pt;
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell {
	-fx-background-color: transparent;
    -fx-text-fill: black;
	
}

.check-box .box {
	-fx-background-color: transparent;
	-fx-border-color: #3e3e3e;
	-fx-border-radius: 3px; 
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.check-box:selected .box {
	-fx-background-color: #c8c8c8;

}

.table-view{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.table-column{
    -fx-border-color: white;
}

.column-header {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}